#wrapper {
  width:960px;
  margin:0 auto;
  background-color: gray;
}

header {
  width:960px;
  height:120px;
  background-color: blue;
}

.content {
  width: 600px;
  height: 400px;
  float: left;
  background-color: yellow;
}

.right-side {
  width:300px;
  height: 400px;
  float: right;
  background-color: green;
}

footer{
  width: 960px;
  height: 120px;
  clear: both;
  background-color: brown;
}
